<!-- introduction start! -->
<div id="home">
  <div class="landing-text">
    <h6 class="subtitle">A scotland yard tool</h6>
    <h2 class="h1">Landing</h2>
  </div>
</div>
<!-- introduction end -->
<!-- Section CEO Start -->
<% politician_boss = nil %>
<section class="section-politicians" id="section-ceo">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">the most corrupt</h6>
      <h2 class="h1">The one who does it all</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <% @politicians.each do |politician|%>
        <% if politician.superior.nil? && !politician.is_locked? %>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="politician-stat">
              <% politician_boss = politician %>
              <h2><%= politician.name %></h2>
              <p><%= pluralize(politician.active_relationships.count, 'subordinate') %></p>
              <%= link_to 'Know more', politician_path(politician) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<!-- Section CEO end -->
<!-- section Thugs start -->
<% politicians_ids =  [] %>
<section class="section-politicians" id="section-thugs">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">See it for yourself</h6>
      <h2 class="h1">the right arms</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center ">
      <% politician_boss.active_relationships.each do |relationship|  %>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="politician-stat">
            <% politicians_ids << relationship.subordinate_id %>
            <h2><%= relationship.subordinate.name %></h2>
            <p><%= pluralize(relationship.subordinate.active_relationships.count, 'subordinate') %></p>
            <%= link_to 'Know more', politician_path(relationship.subordinate) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- section thugs end -->
<!-- section politicians start -->
<% subordinates_ids = [] %>
<section class="section-politicians" id="section-politicians">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">See it for yourself</h6>
      <h2 class="h1">the rest of the bunch</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">

      <% politicians_ids.each do |id| %>
        <% Politician.find(id).active_relationships.each do |relationship| %>
          <% subordinates_ids << relationship.subordinate_id %>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="politician-stat">
              <h2><%= relationship.subordinate.name %></h2>
              <p><%= pluralize(relationship.subordinate.active_relationships.count, 'subordinate') %></p>
              <%= link_to 'Know more', politician_path(relationship.subordinate)%>
           </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>


<section class="section-politicians" id="section-politicians">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">the low Fish</h6>
      <h2 class="h1">Who aspire to be someone...one day.</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">

      <% subordinates_ids.each do |id| %>
        <% Politician.find(id).active_relationships.each do |relationship| %>
          <% subordinates_ids << relationship.subordinate_id %>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="politician-stat">
              <h2><%= relationship.subordinate.name %></h2>
              <% if !relationship.subordinate.active_relationships.empty? %>
                <p><%= relationship.subordinate.active_relationships.count %></p>
              <% end %>
              <%= link_to 'Know more', politician_path(relationship.subordinate)%>
           </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>


<% status_array = [] %>

<% @politicians.each do |politician| %>
   <% if !politician.events.empty? %>
    <% status_array << politician.events.last.locked? %>
   <% end %>
<% end %>

<% if status_array.include?(true) %>
  <section class="section-politicians" id="locked-politicians">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h6 class="subtitle">Justice served</h6>
        <h2 class="h1">Check who is currently locked</h2>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <% @politicians.each do |politician| %>
          <% if politician.events.empty? %>
          <% else %>
            <% if politician.events.last.locked? %>
              <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="politician-stat">
                  <h2><%= politician.name %></h2>
                  <%= link_to 'Know more', politician_path(politician)%>
                </div>
             </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

