<div id="home">
  <div class="landing-text">
    <h6 class="subtitle">A scotland yard tool</h6>
    <h2 class="h1">Landing</h2>
  </div>
</div>


<section class="section-politicians" id="section-ceo">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">the most corrupt</h6>
      <h2 class="h1">The one who does it all</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="section-politicians" id="section-thugs">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">See it for yourself</h6>
      <h2 class="h1">the right arms</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section-politicians" id="section-politicians">
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <h6 class="subtitle">See it for yourself</h6>
      <h2 class="h1">the rest of the bunch</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="politician-stat">
          <h2>Donald Trump</h2>
          <p>27 Subordinates</p>
          <%= link_to 'Know more'%>
        </div>
      </div>
    </div>
  </div>
</section>
